@font-face {
  font-family: "NotoSansKR";
  src: url("../assets/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf");
}

@font-face {
  font-family: "JalnanGothic";
  src: url("../assets/JalnanGothic/JalnanGothicTTF.ttf");
}
